.header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
}

.search-input {
  background-color: transparent;
  color: black;
  width: 200px;
  height: 1.5rem;
}

.home-title {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
}

.add-button {
  padding: 10px;
  color: var(--white);
  border-radius: 10px;
  background-color: var(--secondary-color);
}
