.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.item {
  background: #2c0719;
  background-color: rgb(53, 26, 51);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(240, 237, 237, 0.1);
  color: rgb(236, 138, 231);
  text-align: center;
}

.item:active {
  box-shadow: none;
}

img {
  width: 80%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    gap: 20px;
    justify-content: center;
    padding: 5px;
  }
}
