.empty-state {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.svg-image {
  width: 20%;
}

.empty-state-text {
  margin: 1rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.clear,
.add {
  padding: 10px;
  color: var(--white);
  border-radius: 10px;
  background-color: var(--secondary-color);
}

@media (max-width: 400px) {
  .svg-image {
    width: 40%;
  }
}
