:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(19, 9, 59, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #6200ea;
  --secondary-color: #646cff;
  --light-blue: #bde9fb;
  --background: #2c0719;
  --red: #e24949;
  --white: #ffffff;
  --blue: #646cff;
  background-color: #f0f3e7;
}

a {
  text-decoration: inherit;
}
